# omogućiti URL rewrite
RewriteEngine On

# preskočiti ukoliko postoji datoteka
RewriteCond %{REQUEST_FILENAME} !-f

# preskočiti ukoliko postoji direktorij
RewriteCond %{REQUEST_FILENAME} !-d

# svi zahtjevi idu na index.php
RewriteRule (.*) index.php [L,E=PATH_INFO:/$1]